@import "mixins";
@import "reset";


@font-face {
  font-family: Jura;
  src: url("../../public/assets/fonts/Jura-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Jura;
  src: url("../../public/assets/fonts/Jura-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Jura;
  src: url("../../public/assets/fonts/Jura-Bold.ttf");
  font-weight: bold;
}


@font-face {
  font-family: Uniwars;
  src: url("../../public/assets/fonts/uniwars_sb.otf");
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url("../../public/assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
}