.customModal {
    background: transparent;

    .closeBtn {
        padding: 0;
    }

    .title {
        font-weight: bold;
        color: #C4C4C4;
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'uniwars';
    }
}